<section class="panel">
  <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
</section>

<section class="row">
  <h1 class="text-center">Work</h1>

  <div class="small-12 columns">
    <ul class="small-block-grid-2 medium-block-grid-3" data-equalizer>
      <li ng-repeat="i in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]">
        <figure class="th">
          <img src="http://placehold.it/420x270" alt="image alt text">
          <figcaption class="caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</figcaption>
        </figure>
      </li>
    </ul>
  </div>
</section>

<section class="row">
  <h1 class="text-center"></h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti velit, ut a rerum quis nemo mollitia ducimus praesentium illum numquam molestias porro natus dignissimos explicabo commodi sequi debitis aliquid? Labore.</p>

  <p>Illo, voluptatum earum facere quaerat magni sequi placeat porro, magnam a rem aliquid sapiente adipisci. Officia repellendus molestias, cum qui distinctio, excepturi ea natus molestiae dolorem in tenetur itaque inventore.</p>
</section>
