<img src="http://placehold.it/1600x900" alt="billboard">

<div class="row">
  <h1 class="text-center">Project Title</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora, reiciendis, nemo! Voluptate iure consequatur blanditiis sint, cum molestias, at ad repudiandae eum ducimus temporibus hic nisi sit tenetur. Eligendi, reiciendis.</p>

  <img src="http://placehold.it/1600x900" alt="image">

  <p>Tempora dicta qui totam aperiam laudantium quia voluptate nostrum facilis eos commodi, libero ratione, adipisci animi omnis ipsum nam in odio magnam atque beatae a. Aut, tempora, voluptate. Ea, excepturi?</p>

  <p>Quae at accusamus doloribus eveniet unde ex? Dicta nostrum reiciendis magni ex illum, a ipsa adipisci neque porro sapiente voluptatum eius odit, dolorem quis modi officia sequi, dolore animi doloremque.</p>
</div>
